.profile {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
  margin-top: 30px;
}
.description {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px 0px;
}
.avatar {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100px;
}
.stats {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin: 0;
  background-color: rgb(252, 250, 250);
  border-top: 1px solid rgb(194, 193, 193);
  outline: none;
}
.stat {
  padding: 20px 15px;
  display: inline-flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
}
.stat:not(:last-child) {
  border-right: 1px solid rgb(233, 233, 233);
}
.name {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 5px;
}
.tag {
  font-size: 14px;
  font-weight: 500;
  color: rgb(185, 181, 181);
  padding: 0;
  margin: 5px;
}
.location {
  font-size: 18px;
  font-weight: 500;
  color: rgb(185, 181, 181);
  padding: 0;
  margin: 0;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: rgb(185, 181, 181);
  padding: 0;
  margin-bottom: 5px;
}
.quantity {
  font-size: 16px;
  font-weight: 700;
  color: rgb(20, 20, 20);
  padding: 0;
  margin: 0;
}
